#accordion-up-container {
  padding: 10;
  border-bottom: 16px solid #f1f1f6
}

#accordion-down-container {
  padding: 10;
  border-bottom: 16px solid #f1f1f6
}

.align-style {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.accordion-heading {
  color: #3e4152;
  font-weight: bolder;
  font-size: 17px;
  letter-spacing: 1;
}

#down-container {
  height: 400px;
}
