@use "../../utilities/variables";

#restaurant-details-container {
  display: flex;
  background-color: variables.$whiteColor;
  min-height: 100vh;
  padding: 20px;
  padding-bottom: 0;
  margin-top: 10px;
  flex-direction: column;
}

.borderStyle {
  margin-left: 320px;
  margin-right: 320px;
}

#restaurant-container {
  height: 60px;
  box-sizing: border-box;
}

#restaurant-address {
  display: flex;
  flex-direction: row;
  color: variables.$greyColor;
  font-size: 12px;
  margin-top: 5px;
  > div {
    margin-right: 5px;
  }
}

#restaurant-name {
  font-size: 18px;
  font-weight: 600;
  color: variables.$gunMetalColor;
  margin-bottom: 8px;
  text-transform: capitalize;
}

#first-container {
  display: flex;
  border-bottom: 1.5px dashed variables.$brightGreyColor;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
}

#cuisine {
  color: variables.$greyColor;
  font-size: 12px;
}

#rating-star {
  fill: variables.$illuminatingEmeraldColor;
  color: variables.$illuminatingEmeraldColor;
}

#rating-container-upper {
  border-bottom: 1px solid variables.$brightGreyColor;
  padding-bottom: 2px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#restaurant-rating-container {
  border: 1px solid variables.$brightGreyColor;
  box-shadow: 0 1px 5px variables.$ghostWhiteColor;
  border-radius: 6px;
  text-align: center;
  padding: 8px;
  box-sizing: border-box;
  span {
    font-size: 10px;
    color: variables.$romanSilverColor;
    font-family: "ProximaNovaCondensedRegular", arial, "Helvetica Neue",
      sans-serif;
    font-weight: 600;
  }
}

#second-container {
  display: flex;
  flex-direction: column;
  margin-top: 18px;
}

#delivery-details-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.details-container {
  display: flex;
  align-items: center;
  span {
    margin-left: 10px;
    margin-right: 20px;
  }
}

.detailsStyle {
  color: variables.$arsenicColor;
  font-size: 15px;
  font-weight: 700;
}

#coupon-list {
  display: flex;
  flex-direction: row;
  scrollbar-width: none;
  overflow-x: scroll;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: 0;
  &::-webkit-scrollbar {
    display: none;
  }
}

#third-container {
  margin-top: 10px;
}

#license-info-container {
  display: flex;
  background-color: variables.$newWhiteColor;
  flex-direction: row;
  align-items: center;
  padding-left: 8px;
  height: auto;
  padding-bottom: 10px;
}

#license-logo {
  height: 30px;
  width: 60px;
  margin-right: 25px;
}

#license-number {
  font-size: 13px;
  color: variables.$spanishGreyColor;
  align-self: center;
}

#address-container {
  padding: 10px;
  background-color: variables.$newWhiteColor;
}

#address-sub-container {
  border-top: 1px solid variables.$metallicSilverColor;
  padding-top: 16px;
  text-transform: capitalize;
  color: variables.$spanishGreyColor;
  margin-bottom: 80px;
}

#address-restaurant-name {
  font-weight: 600;
  font-size: 14px;
}

#address-restaurant-area {
  font-size: 13px;
  margin-bottom: 20px;
}

#complete-address {
  color: variables.$metallicSilverColor;
  font-size: 12px;
}

#nested-component-heading {
  color: variables.$arsenicColor;
  font-weight: 800;
  font-size: 17px;
  margin-left: 10px;
  margin-bottom: 20px;
}

#browserButtonContainer {
  position: fixed;
  left: 50%;
  top: 90%;
  transform: translateX(-50%);
  width: 150px;
  height: 40px;
  pointer-events: auto;
}

.browserMenuButton {
  position: fixed;
  border-radius: 30px;
  background: #5d8ed5;
  color: #fff;
  text-align: center;
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / 30%), 0 2px 1px 0 rgb(93 141 213 / 20%);
  padding: 14px;
  font-weight: 600;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  will-change: transform;
  transform: scaleX(1);
  transition: transform 0.25s ease-in-out;
}
