@use "../../../utilities/variables";

#restaurant-subheading {
  font-size: 13px;
  margin-top: 4px;
  color: variables.$darkSilverColor;
  display: inline;
}

#restaurant-heading {
  margin-top: 6px;
  font-size: 17px;
  font-weight: 500;
  word-break: break-word;
  color: variables.$blackColor;
}

.restaurant-card {
  width: 278px;
  padding: 10px;
  box-sizing: border-box;
  margin: 20;
  content: contain;
  color: variables.$independenceColor;
  font-size: 12px;
  &:hover {
    border: 1px solid variables.$lightSilverColor;
    box-shadow: 0 3px 8px variables.$brightGreyColor;
  }
}

#restaurant-subContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}

#rating-container {
  background-color: variables.$emeraldColor;
  padding: 5px;
  height: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  > div {
    color: variables.$whiteColor;
    font-weight: 500;
    font-size: 13px;
  }
  > img {
    width: 10px;
    height: 10px;
    margin-right: 3px;
  }
}

.dot-container {
  background-color: variables.$blackColor;
  height: 2px;
  width: 2px;
  border-radius: 1px;
}
