// COLORS
$blackColor: black;
$orangeColor: rgb(207, 137, 8);
$whiteColor:  white;
$darkJungleGreenColor: #171a29;
$antiFlashWhiteColor: #eef0f5;
$darkSilverColor: #686b78;
$independenceColor: #535665;
$lightSilverColor: #d4d5d9;
$brightGreyColor: #e9e9eb;
$emeraldColor: #48c479;
$greyColor: #7e808c;
$gunMetalColor: #282c3f;
$illuminatingEmeraldColor: #3D9B6D;
$ghostWhiteColor: #f9f9f9;
$romanSilverColor: #8b8d97;
$arsenicColor: #3e4152;
$newWhiteColor: #f1f1f6;
$spanishGreyColor: #93959f;
$metallicSilverColor: #a9abb2;
$lightGreyColor: #d3d3d3;
$darkOrangeColor: #ee9c00;
$appleColor: #60b246;

// FONTS
$font-family: "Roboto", sans-serif;