#restaurant-details-container {
  display: flex;
  background-color: white;
  min-height: 100vh;
  padding: 20px;
  padding-bottom: 0;
  margin-top: 10px;
  flex-direction: column;
}

.borderStyle {
  margin-left: 320px;
  margin-right: 320px;
}

#restaurant-container {
  /* border: 1px solid black; */
  height: 60px;
  box-sizing: border-box;
}

#restaurant-address {
  display: flex;
  flex-direction: row;
  color: #7e808c;
  font-size: 12px;
  margin-top: 5px;
}

#restaurant-name {
  font-size: 18px;
  font-weight: 600;
  color: #282c3f;
  margin-bottom: 8px;
  text-transform: capitalize;
}

#first-container {
  display: flex;
  border-bottom: 1.5px dashed #e9e9eb;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
}

#restaurant-address > div {
  margin-right: 5px;
}

#cuisine {
  color: #7e808c;
  font-size: 12px;
}

#rating-star {
  fill: #3d9b6d;
  color: #3d9b6d;
}

#rating-container-upper {
  border-bottom: 1px solid #e9e9eb;
  padding-bottom: 2px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#restaurant-rating-container {
  border: 1px solid #e9e9eb;
  box-shadow: 0 1px 5px #f9f9f9;
  border-radius: 6px;
  text-align: center;
  padding: 8px;
  box-sizing: border-box;
}

#restaurant-rating-container span {
  font-size: 10px;
  color: #8b8d97;
  font-family: "ProximaNovaCondensedRegular", arial, "Helvetica Neue",
    sans-serif;
  font-weight: 600;
}

#second-container {
  display: flex;
  flex-direction: column;
  margin-top: 18px;
}

#delivery-details-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.details-container {
  display: flex;
  align-items: center;
}

.details-container span {
  margin-left: 10px;
  margin-right: 20px;
}

.detailsStyle {
  color: #3e4152;
  font-size: 15px;
  font-weight: 700;
}

#coupon-list {
  display: flex;
  flex-direction: row;
  scrollbar-width: none;
}

#coupon-list::-webkit-scrollbar {
  display: none;
}

#third-container {
  margin-top: 10px;
}

#license-info-container {
  display: flex;
  background-color: #f1f1f6;
  flex-direction: row;
  align-items: center;
  padding-left: 8px;
  height: auto;
  padding-bottom: 10px;
}

#license-logo {
  height: 30px;
  width: 60px;
  margin-right: 25px;
}

#license-number {
  font-size: 13px;
  color: #93959f;
  align-self: center;
}

#address-container {
  padding: 10px;
  background-color: #f1f1f6;
}

#address-sub-container {
  border-top: 1px solid #a9abb2;
  padding-top: 16px;
  text-transform: capitalize;
  color: #93959f;
  margin-bottom: 80px;
}

#address-restaurant-name {
  font-weight: 600;
  font-size: 14px;
}

#address-restaurant-area {
  font-size: 13px;
  margin-bottom: 20px;
}

#complete-address {
  color: #a9abb2;
  font-size: 12px;
}

#nested-component-heading {
  color: #3e4152;
  font-weight: 800;
  font-size: 17px;
  margin-left: 10px;
  margin-bottom: 20px;
}
