#footer {
    display: flex;
    background-color: black;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
}

#footer div {
    color: white;
    font-size: large;
    font-weight: 400;
}