@use '../../../utilities/variables';

.coupon-image {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

#coupon-code-upper-text {
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
  color: variables.$darkSilverColor;
}

.coupon-code-lower-container {
  font-size: 13px;
  color: variables.$spanishGreyColor;
  margin-top: 4px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 200px;
  font-weight: 700;
}

#upper-container {
  display: flex;
  flex-direction: row;
}

#coupon-code-container {
  display: flex;
  flex-direction: column;
  border: 1px solid variables.$brightGreyColor;
  box-sizing: border-box;
  box-shadow: 0 1px 2px rgb(0 0 0 / 4%);
  border-radius: 8px;
  padding: 8px;
  width: fit-content;
  margin-right: 10px;
  margin-top: 10px;
}
