@use '../../../utilities/variables';

#accordion-up-container {
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 16px solid variables.$newWhiteColor;
}

#accordion-down-container {
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 16px solid variables.$newWhiteColor;
  display: flex;
  flex-direction: column;
}

.align-style {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.accordion-heading {
  color: variables.$arsenicColor;
  font-weight: 800;
  font-size: 17px;
}

.accordion-heading-nested {
  color: variables.$arsenicColor;
  font-weight: 500;
  font-size: 16px;
}
